*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/.name
.idea/vcs.xml
/.idea/*
.idea/*
/app/release/*
/lib/powerspinner/build/
/buildSrc/build
deploy/*
.gradle/7.3.3/executionHistory/executionHistory.bin
.gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/fileHashes/fileHashes.bin
.gradle/7.3.3/fileHashes/fileHashes.lock
.gradle/7.3.3/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__junit_junit_4_13_2.xml
.idea/misc.xml
.idea/modules/app/hotel_booking.app.androidTest.iml
.idea/modules/app/hotel_booking.app.iml
.idea/modules/app/hotel_booking.app.main.iml
.idea/modules/app/hotel_booking.app.unitTest.iml
local.properties
